h1 {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin-right: 2rem;
}

.navbar li {
  margin-right: 5rem;
}

.main {
  margin: 0 5rem;
}

.main form {
  display: flex;
  flex-direction: column;
}

.main form input {
  margin-top: 1rem;
}

.main form button {
  margin-top: 2rem;
}
